# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev.log

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/migrations/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Android build artifacts
twa-project/obj/
twa-project/bin/
twa-project/gen/
twa-project/apk_build/
twa-project/keystore.jks
twa-project/build/
twa-project/.gradle/
twa-project/app/build/
twa-project/local.properties

# SDK
/tmp/

# Z scripts
.zscripts/

# Uploads
upload/
